# LOCAL DEMONSTRATION ONLY.
# These values are public examples. Never reuse them outside this Docker Compose environment.
ASPNETCORE_ENVIRONMENT=Development
SQLSERVER_DATABASE=VehicleSalesFIAP
SQLSERVER_SA_PASSWORD=VehicleSalesFIAP@12345
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=admin
